amqp==5.2.0
asgiref==3.8.0
astroid==2.15.8
async-timeout==4.0.3
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.3
cryptography==42.0.5
defusedxml==0.8.0rc2
dill==0.3.8
Django==4.2.11
django-celery-beat==2.6.0
django-environ==0.11.2
django-pytest==0.2.0
django-templated-mail==1.1.1
django-timezone-field==6.1.0
djangorestframework==3.15.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
dodgy==0.2.1
exceptiongroup==1.2.0
flake8==5.0.4
flake8-polyfill==1.0.2
flower==2.0.1
gitdb==4.0.11
GitPython==3.1.42
humanize==4.9.0
idna==3.6
iniconfig==2.0.0
isort==5.13.2
kombu==5.3.6
lazy-object-proxy==1.10.0
mccabe==0.7.0
oauthlib==3.2.2
packaging==24.0
pep8-naming==0.10.0
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
prospector==1.10.3
psycopg2-binary==2.9.9
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.3.0
pyflakes==2.5.0
PyJWT==2.8.0
pylint==2.17.7
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
pytest==8.1.1
pytest-django==4.8.0
python-crontab==3.0.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.3
requests==2.31.0
requests-oauthlib==1.4.0
requirements-detector==1.2.2
semver==3.0.2
setoptconf-tmp==0.3.1
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
social-auth-app-django==5.4.0
social-auth-core==4.5.3
sqlparse==0.4.4
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
tornado==6.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
wrapt==1.16.0
